.dashboard {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background: #e9f0f8;
}

.dashboard--right {
  margin-left: 250px;
  padding: 40px 20px;
  width: calc(100% - 250px);
}

.dashboard--right__activities {
  margin: 40px 0;
}
