.login-bg {
  height: 100vh;
  width: 100vw;
  background: url("../img/login/login1.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.9;
  position: fixed;
}

.login-bg .mid {
  background-color: red;
}

.login-bg .mid-logo {
  height: 200px;
  width: 200px;
}
